  {{#each github}}

    {{#startsWith "Portfolio" this.name}}
    <article class="portfolio">
      <h2>{{ this.name }}</h2>
      <figure>
        <picture>
          {{#ifequal this.image_url undefined}}
          <img alt="{{ this.name }}" src="assets/img/portfolio/320/{{ this.name }}.jpg">
          {{else}}
          <img alt="{{ this.name }}" src="{{ this.image_url }}.jpg">
          {{/ifequal}}
        </picture>
        <figcaption>
          <h3><a href="{{ this.html_utl }}">{{ this.name }}</a></h3>
          <p>{{ this.description }}</p>
          <p><a data-open="{{ this.id }}ModalGithub">More</a></p>

          <div class="reveal portfolio github" id="{{ this.id }}ModalGithub" data-reveal>
            <h1>{{ this.name }}</h1>
            <p class="lead">
              {{ this.description }}
            </p>
            <p>
              <a href="{{ this.html_url }}">{{ this.html_url }}</a>
            </p>

            <ul>
              <li>Language: {{ this.language }}</li>
              <li>Open Issues: {{ this.open_issues_count }}</li>
              <li>Stars: {{ this.stargazers_count }}</li>
              <li>Watchers: {{ this.watchers_count }}</li>
            </ul>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </figcaption>
      </figure>

    </article>
    {{/startsWith}}

  {{/each}}
