<img data-interchange="[{{root}}assets/img/portfolio/320/jumbotron.jpg, small], 
                       [{{root}}assets/img/portfolio/480/jumbotron.jpg, medium], 
                       [{{root}}assets/img/portfolio/768/jumbotron.jpg, large], 
                       [{{root}}assets/img/portfolio/1200/jumbotron.jpg, xlarge]" 
                       alt="photo of insect eating blade of grass" 
                       src="data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E">