    <article class="portfolio">
      <h2>Work #1</h2>
      <figure>
        <picture>
          <img alt="this is the image of portfolio 1" src="//lorempixel.com/320/200/technics">
        </picture>
        <figcaption>
          <h3>APPIFY</h3>
          <p>https://github.com/udacity/Appify/</p>
        </figcaption>
      </figure>
    </article>

    <article class="portfolio">
      <h2>Work #2</h2>
      <figure>
        <picture>
          <img alt="this is the image of portfolio 2" src="//lorempixel.com/320/200/food">
        </picture>
        <figcaption>
          <h3>SUNFLOWER</h3>
          <p>https://github.com/udacity/Sunflower/</p>
        </figcaption>
      </figure>
    </article>

    <article class="portfolio">
      <h2>Work #3</h2>
      <figure>
        <picture>
          <img alt="this is the image of portfolio 3" src="//lorempixel.com/320/200/transport">
        </picture>
        <figcaption>
          <h3>BOKEH</h3>
          <p>https://github.com/udacity/Bokeh/</p>
        </figcaption>
      </figure>
    </article>
